.App {
  text-align: center;
}

body,
html {
  height: 100%;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}

.App-header {
  background-image: url(./images/acnh1.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
